{% extends './base.html' %}

{% block head %}
	<title>Register Form</title>
{% endblock %}

{% block body %}
	<form method="post" class="form_register">
		{% csrf_token %}
		<h1>Register</h1>
		{% if error %}
			<p style="color:red; margin-bottom: 5px;">{{error}}</p>
		{% endif %}
		<input type="text" name="username" placeholder="Username"> <br>
		<input type="email" name="email" placeholder="Email"> <br>
		<input type="password" name="password" placeholder="Password"> <br>
		<input type="submit" value="Register">
		<div>
			<span>Already have an account?</span>
			<a href="/login">Login</a>
		</div>
	</form>
{% endblock %}